<div class="container">
    <mat-grid-list cols="4" rowHeight="228.32" gutterSize="3">
        <mat-grid-tile class="mat-elevation-z4 fixtures-card fixtures-card-recent"  colspan="2" rowspan="1">
            <app-home-next-fixture></app-home-next-fixture>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z4 stats-summary-card"  colspan="2" rowspan="2">
            <app-home-stats class="home-summary"></app-home-stats>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z4 fixtures-card fixtures-card-next"  colspan="2" rowspan="1">
            <app-home-recent-fixture></app-home-recent-fixture>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z4 link-card fixtures">
            <a routerLink="/fixtures" class="hvr-sweep-to-right link-card--link">Fixtures</a>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z4 link-card players" >
            <a routerLink="/players" class="hvr-sweep-to-right link-card--link ">Players</a>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z4 link-card news" >
            <a routerLink="/news" class="hvr-sweep-to-right link-card--link">News</a>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z4 link-card videos" >
            <a routerLink="/videos" class="hvr-sweep-to-right link-card--link">Videos</a>
        </mat-grid-tile>
    </mat-grid-list>
</div>